h1.hero-text {
    font-size: 5rem;
    margin-top: 170px;
    font-weight: 900;
    margin-left: 300px;
    line-height: 80px;
    color: rgb(227, 224, 214);
    text-shadow: 10px 4px 0 rgb(0, 0, 0);
    transform: translateX(-150px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    z-index: 3;
}

.seemore-button {
    background-color: #ffc107;
    color: #000; 
    padding: 12px 30px; 
    text-decoration: none; 
    display: inline-block; 
    margin-top: 30px;
    margin-left:150px;
    border: 3px solid #000; 
    box-shadow: 6px 6px 0 #000; 
    font-family: Arial, sans-serif; 
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 50;
    position: relative;
}

.seemore-button.is-visible {
    opacity: 1;
    transform: translateX(0);
}

.seemore-button:hover {
    box-shadow: 4px 4px 0 #000; 
    transform: translate(2px, 2px); 
}

.bg-img {
    margin-top: -630px;
    display: flex;
    object-fit: cover;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

.main-title {
    font-size: 2.8rem;
    font-weight: 500;
    margin-left: 150px;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 10px rgb(186, 185, 185);
}

.cheers {
    width: 500px;
    margin-left: 60%;
    margin-top: -300px;
}

.bg-product {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-left: 0px;
    width: 90%;
    margin-top: 200px;
    margin-left: 75px;
} 

.present {
    font-size: 5rem;
    margin-top: 320px;
    font-weight: 900;
    margin-left: 300px;
    line-height: 80px;
    color: rgb(227, 224, 214);
    text-shadow: 10px 4px 0 rgb(0, 0, 0);
    transform: translateX(-150px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    z-index: 1;
}

.details {
    background-color: #ffc107;
    color: #000; 
    padding: 12px 30px; 
    text-decoration: none; 
    display: inline-block; 
    margin-top: 50px;
    margin-left:150px;
    border: 3px solid #ffffff; 
    box-shadow: 6px 6px 6px #000; 
    font-family: Arial, sans-serif; 
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 5;
    position: relative;

}

.details:hover {
    box-shadow: 4px 4px 0 #000; 
    transform: translate(2px, 2px); 
}

.product-flavor {
    margin-top:450px;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 10px rgb(186, 185, 185);
}

.bgpks-image {
    position: absolute;
    margin-left: 170px;
    margin-top: -530px;
}

.product-items {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px; 
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 3;
    margin-top: 130px;
}


/* 1. จัดวาง Title และ Price ในแนวนอน */
.title-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    border-bottom: 2px solid #FBC02D; 
    padding-bottom: 5px; 
    margin-bottom: 5px;
}

.item-title {
    font-size: 1.5em;
    font-weight: 800; 
    color: black;
    line-height: 1.1; 
    padding-bottom: 3px; 
}

.item-type {
    font-size: 1.4em;
    font-weight: 800;
    color: black;
}

.all-description {
    position: relative;
    z-index: 3;
    font-family: Arial, sans-serif;
    color: #666;
    font-size: 1em;

}

.rorker-description {
    max-width: 1200px;
    margin: 0 auto;
    margin-right: 105px;
    margin-top: -225px;
}

.description-sing {
    margin-top: 0px;
    margin-left: 775px;
    margin-top: -25px;
}

.cocowave-des {
    margin-left: 210px;
    margin-top: 65px;
}

.razz-des {
    margin-left: 775px;
    margin-top: -25px;
}

.bluefeez-des {
    margin-left: 210px;
    margin-top: 65px;
}

.beehern-des {
    margin-left: 775px;
    margin-top: -25px;
}

.card-effect {
    position:relative;
    cursor: pointer; 
    
}

.card-effect::before {
    content: ''; 
    position: absolute;
    top: 325;
    left: 475;
    width: 550px;
    height: 350px;
    border: 1px solid rgb(255, 255, 255); 
    transform: scale(1); 
    transform-origin: center center;
    transition: transform 0.1s ease-in-out; 
    z-index: 2; 
    pointer-events: none; 
    margin-top:-300px;

}

.card-effect:hover::before {
    transform: scale(0.95); 
}

.brewer {
    width: 600px;
    height: auto;
    display: flex;
    margin-top: 300px;
    margin-left: 450px;
 }

 .homebrew {
    width: 500px;
    margin-top:-420px;
    margin-left: 500px;
    position: relative;
    z-index: 10;
 }

 .keg {
    width: 280px;
    height: 400px;
    margin-left: 100px;
    margin-top: 300px;

 }

 .hazy {
    width: 270px;
    height: 400px;
    margin-left: 75%;
    margin-top:-400px;
 }

 .brewery {
    width: 120px;
    height: 150px;
    

 }

 .ferment {
    width: 100px;
    height: 150px;
 }

 .bottle {
    margin-top: 30px;
    width: 120px;
    height: 120px;

 }

 .tapping {
    height: 120px;
    margin-top: 30px;
 }

 .process-images {
    display: flex;
    position: relative;
    margin-top: 100px;
    height: 180px;
    gap: 170px;
    margin-left: 0px;

}


 .main-container {
    gap: 140px;
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    
 }

 .process-brewery {
    display: flex;
    justify-content: center;
 }

 .all-process {
    position: relative;
    z-index: 3;
    font-family: Arial, sans-serif;
    color: #666;
    font-size: 1em;
    display: flex;
    margin-top: 20px;
    text-align: center;
}

