.carouselContainer {
    position: relative;
    width: 40%;
    height: 450px;
    margin: 50px auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden; 
    border-radius: 10px;
    z-index: 3;
    margin-top: 800px;
}

.carouselWrapper {
    width: 80%; 
    height: 90%;
    overflow: hidden; 
    border-radius: 12px;
}

.carouselTrack {
    display: flex; 
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carouselItem {
    flex-shrink: 0; 
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: white;
    border-radius: 8px; 
    margin: 0 5px; 
    margin-left: -3px;
        z-index: 3;

}

.carouselControl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background 0.2s;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.arrow {
    font-size: 1.8em;
    font-weight: 300;
}