.all-header {
  z-index: 1000;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  justify-items: center;
  
}



.header {
  display: flex;
  width: 100%;
  height: auto;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  margin-top: -30px;
  background-color: transparent;
  margin-right:0px;
  gap:30px;
  margin-right:18px;
}

.logo {
  width: 150px;
  height: auto;
}

.content {
  display: flex;
  z-index: 2;
  gap: 30px;
  margin-top: 60px;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: right;
  margin-right: 70px;
  gap: 25px;
  margin-top: -100px;
  background-color: transparent;
}

.contact  a {
    transition: opacity 0.3s ease;
    opacity: 0.8s;
}
.contact a:hover {
    opacity: 1;
    color: rgb(117, 117, 117);
}


.banner-image {
  width: 200px;
  height: 500px;
  object-fit: cover;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -400px;
  
}



.location-banner {
  position: absolute;
  top: -200px;
  width: 400px;
  height: 100px;
  transition: top 0.2s ease-out;
  z-index: 100;
  margin-left: 200px;
  margin-top: -450px;
  
}

.location-banner.slide-in {
  top: 50%;
  transform: translate(-50%, -50%);
}



.banner-text {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  opacity: 1 !important;
  margin-left: 110px;
  margin-top: 115px;
}

.blinking-text {
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.dropdown-parent {
    position: relative;
    margin-top: 60px;
    justify-content: center;
}

.dropdown-content {
    margin-left: 0px;
    position: absolute;
    top: 80%;
    background-color: rgb(0, 0, 0, 0.85);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    visibility: hidden;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.7s ease-in-out;
    z-index: 99;
    justify-content: center;
    

}

.dropdown-parent:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
    max-height: 500px;

}

.dropdown-parent:hover .dropdown-label {
    color: rgb(117, 117, 117); 
}

.sub-manu {
color: white; 
    padding: 10px 15px;
    text-decoration: none;
    display: block; 
    font-size: 14px;
    
}

.sub-menu li a {
    padding: 10px 15px;
    text-decoration: none;
    display: block; 
    text-align: left;
    font-size: 14px; 
    color: white;
}

.sub-menu li a:hover {
    
    color: yellow;
}

.slide-menu {
    position: fixed; 
    top: 0;
    right: 0;
    width: 500px; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.75); 
    color: white; 
    text-align: left;
    transform: translateX(100%); 
    transition: transform 0.4s ease-out; 
    padding: 20px;
}

.slide-menu.open {
    transform: translateX(0); 
}

.hamburger-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: black; 
    z-index: 201; 
}

.close-btn {
    position: absolute;
    justify-content: left;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

.doc-pks {
    line-height: 30px;
    color: rgb(186, 188, 189);
    margin-left: 20px;
}





